body{
  height: 100px;
  margin: 0;
  text-align: center;
  width: 100%;
}

h1{
  font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color:salmon;
}

h2{
  font-size: 48px;
}

.hero{
  padding: 250px 0;
  margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-image:url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-2/bg.jpg");
  background-size: cover;
  color: #ffffff;
}

p{
  font-size: 2rem;
}

.hero a{
  color:#00FFAA;
  font-size: 24px;
  text-decoration: none;
}

.button{
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#footer{
  font-size:0.75rem;
}
